@mixin jl_sprites{background:url(https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1527478952210.png) no-repeat; }

@mixin updown{height:12px;width:6px;background-position: 0 0;}
@mixin more1{height:8px;width:6px;background-position: -6px 0;}
@mixin more2{height:8px;width:6px;background-position: -12px 0;}
@mixin dragdown{height:6px;width:6px;background-position: -18px 0;}
@mixin little_ball{height:8px;width:8px;background-position: -24px 0;}
@mixin triangle_333_up{height:6px;width:10px;background-position: -32px 0;}
@mixin triangle_333_down{height:6px;width:10px;background-position: -42px 0;}
@mixin triangle_blue_up{height:6px;width:10px;background-position: -52px 0;}
@mixin triangle_blue_down{height:6px;width:10px;background-position: -62px 0;}
@mixin location6{height:13px;width:10px;background-position: -72px 0;}
@mixin triangle_down{height:7px;width:12px;background-position: -82px 0;}
@mixin location3{height:15px;width:12px;background-position: -94px 0;}
@mixin railway{height:18px;width:14px;background-position: -106px 0;}
@mixin order_logo{height:17px;width:14px;background-position: -120px 0;}
@mixin location{height:18px;width:14px;background-position: -134px 0;}
@mixin info_logo{height:14px;width:14px;background-position: -148px 0;}
@mixin datelogo{height:15px;width:14px;background-position: -162px 0;}
@mixin delete_r2{height:14px;width:14px;background-position: -176px 0;}
@mixin delete_r1{height:14px;width:14px;background-position: -190px 0;}
@mixin warning_red{height:14px;width:14px;background-position: -204px 0;}
@mixin right_11{height:15px;width:15px;background-position: -218px 0;}
@mixin left_10{height:15px;width:15px;background-position: -233px 0;}
@mixin right_10{height:15px;width:15px;background-position: -248px 0;}
@mixin left_11{height:15px;width:15px;background-position: -263px 0;}
@mixin govIcon{height:21px;width:15px;background-position: -278px 0;}
@mixin gift{height:16px;width:15px;background-position: -293px 0;}
@mixin location2{height:19px;width:16px;background-position: -308px 0;}
@mixin subway{height:21px;width:16px;background-position: -324px 0;}
@mixin search{height:16px;width:16px;background-position: -340px 0;}
@mixin specialNotice{height:19px;width:16px;background-position: -356px 0;}
@mixin trumpet{height:15px;width:17px;background-position: -372px 0;}
@mixin price_bar2{height:17px;width:18px;background-position: -389px 0;}
@mixin price_bar1{height:17px;width:18px;background-position: -407px 0;}
@mixin password{height:21px;width:18px;background-position: -425px 0;}
@mixin location4{height:23px;width:18px;background-position: -443px 0;}
@mixin user_name{height:17px;width:18px;background-position: -461px 0;}
@mixin gz5{height:16px;width:18px;background-position: -479px 0;}
@mixin warning{height:20px;width:20px;background-position: -497px 0;}
@mixin location5{height:27px;width:20px;background-position: -517px 0;}
@mixin bus{height:13px;width:20px;background-position: -537px 0;}
@mixin swipeDown1 {height:11px;width:20px;background-position: -557px 0;}
@mixin swipeDown2{height:11px;width:20px;background-position: -577px 0;}
@mixin swipeUp2{height:11px;width:20px;background-position: -597px 0;}
@mixin swipeUp1{height:11px;width:20px;background-position: -617px 0;}
@mixin plane{height:14px;width:20px;background-position: -637px 0;}
@mixin wxdf1{height:52px;width:22px;background-position: -657px 0;}
@mixin right-circle2{height:22px;width:22px;background-position: -679px 0;}
@mixin wxdf2{height:52px;width:22px;background-position: -701px 0;}
@mixin qq{height:22px;width:22px;background-position: -723px 0;}
@mixin right-circle1{height:22px;width:22px;background-position: -745px 0;}
@mixin company_number{height:20px;width:22px;background-position: -767px 0;}
@mixin fhdb1{height:42px;width:22px;background-position: -789px 0;}
@mixin fhdb2{height:42px;width:22px;background-position: -811px 0;}
@mixin gz1{height:38px;width:22px;background-position: -833px 0;}
@mixin gz2{height:38px;width:22px;background-position: -855px 0;}
@mixin identify_code{height:19px;width:23px;background-position: -877px 0;}
@mixin phone{height:22px;width:26px;background-position: -900px 0;}
@mixin gz3{height:23px;width:26px;background-position: -926px 0;}
@mixin give{height:23px;width:26px;background-position: -952px 0;}
@mixin wenxintishi{height:26px;width:26px;background-position: -978px 0;}
@mixin jiudianjianjie{height:26px;width:26px;background-position: -1004px 0;}
@mixin tebietixing{height:26px;width:26px;background-position: -1030px 0;}
@mixin lianxifangshi{height:26px;width:26px;background-position: -1056px 0;}
@mixin discount{height:23px;width:26px;background-position: -1082px 0;}
@mixin jiudianfuwu{height:26px;width:26px;background-position: -1108px 0;}
@mixin jiudiansheshi{height:26px;width:26px;background-position: -1134px 0;}
@mixin reminder{height:26px;width:26px;background-position: -1160px 0;}
@mixin gz4{height:25px;width:28px;background-position: -1186px 0;}
@mixin already_gz{height:28px;width:28px;background-position: -1214px 0;}
@mixin pianxin{height:36px;width:36px;background-position: -1242px 0;}
@mixin right_n3{height:40px;width:40px;background-position: -1278px 0;}
@mixin right_n1{height:40px;width:40px;background-position: -1318px 0;}
@mixin right_n2{height:40px;width:40px;background-position: -1358px 0;}
@mixin left_n3{height:40px;width:40px;background-position: -1398px 0;}
@mixin left_n1{height:40px;width:40px;background-position: -1438px 0;}
@mixin left_n2{height:40px;width:40px;background-position: -1478px 0;}
@mixin package{height:28px;width:42px;background-position: -1518px 0;}
@mixin cshapLeft{height:34px;width:50px;background-position: -1560px 0;}
@mixin cshapRight{height:34px;width:50px;background-position: -1610px 0;}
@mixin partner03{height:60px;width:66px;background-position: -1660px 0;}
@mixin hotel_tag{height:30px;width:70px;background-position: -1726px 0;}
@mixin right_b3{height:70px;width:70px;background-position: -1796px 0;}
@mixin left_b1{height:70px;width:70px;background-position: -1866px 0;}
@mixin left_b3{height:70px;width:70px;background-position: -1936px 0;}
@mixin left_b2{height:70px;width:70px;background-position: -2006px 0;}
@mixin right_b2{height:70px;width:70px;background-position: -2076px 0;}
@mixin right_b1{height:70px;width:70px;background-position: -2146px 0;}
@mixin submit_success{height:77px;width:80px;background-position: -2216px 0;}
@mixin partner04{height:52px;width:80px;background-position: -2296px 0;}
@mixin partner05{height:41px;width:80px;background-position: -2376px 0;}
@mixin tuiguang{height:18px;width:83px;background-position: -2456px 0;}
@mixin jinpai{height:18px;width:83px;background-position: -2539px 0;}
@mixin bar-chart{height:90px;width:90px;background-position: -2622px 0;}
@mixin phone-circle{height:90px;width:90px;background-position: -2712px 0;}
@mixin phone-service{height:90px;width:90px;background-position: -2802px 0;}
@mixin order{height:90px;width:90px;background-position: -2892px 0;}
@mixin integrity_logo1{height:30px;width:91px;background-position: -2982px 0;}
@mixin integrity_logo2{height:30px;width:91px;background-position: -3073px 0;}
@mixin integrity_logo3{height:30px;width:92px;background-position: -3164px 0;}
@mixin partner01{height:33px;width:95px;background-position: -3256px 0;}
@mixin meiyoujiudian{height:102px;width:99px;background-position: -3351px 0;}
@mixin erweima_notext{height:100px;width:100px;background-position: -3450px 0;}
@mixin partner06{height:39px;width:102px;background-position: -3550px 0;}
@mixin partner07{height:47px;width:111px;background-position: -3652px 0;}
@mixin partner08{height:44px;width:120px;background-position: -3763px 0;}
@mixin partner02{height:47px;width:159px;background-position: -3883px 0;}
@mixin sideBar_erweima{height:203px;width:160px;background-position: -4042px 0;}
@mixin jl_logo{height:35px;width:181px;background-position: -4202px 0;}
@mixin wepay_logo{height:58px;width:218px;background-position: -4383px 0;}
@mixin wepay_means{height:86px;width:260px;background-position: -4601px 0;}
@mixin noConcern{height:103px;width:271px;background-position: -4861px 0;}
@mixin noOrder{height:102px;width:377px;background-position: -5132px 0;}
@mixin letmefly{height:168px;width:564px;background-position: -5509px 0;}
