@mixin pc_sprites{background:url(https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1528170917703.png) no-repeat; }
@mixin pc_icon04{height:24px;width:24px;background-position: 0 0;}
@mixin pc_icon06{height:24px;width:24px;background-position: -24px 0;}
@mixin pc_icon03{height:24px;width:24px;background-position: -48px 0;}
@mixin pc_icon05_sel{height:24px;width:24px;background-position: -72px 0;}
@mixin pc_icon05{height:24px;width:24px;background-position: -96px 0;}
@mixin pc_icon04_sel{height:24px;width:24px;background-position: -120px 0;}
@mixin pc_icon01{height:24px;width:24px;background-position: -144px 0;}
@mixin pc_icon06_sel{height:24px;width:24px;background-position: -168px 0;}
@mixin pc_icon03_sel{height:24px;width:24px;background-position: -192px 0;}
@mixin pc_icon02_sel{height:24px;width:24px;background-position: -216px 0;}
@mixin pc_icon02{height:24px;width:24px;background-position: -240px 0;}
@mixin pc_icon01_sel{height:24px;width:24px;background-position: -264px 0;}
@mixin jl_headline{height:15px;width:90px;background-position: -288px 0;}
@mixin pc_status{height:28px;width:101px;background-position: -378px 0;}
@mixin pc_credit{height:160px;width:340px;background-position: -479px 0;}
@mixin pc_money{height:160px;width:340px;background-position: -819px 0;}